<a href="https://colab.research.google.com/github/SuperChini/Brief-sample/blob/main/COLAB_TESTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
print ('Introduzca el entero a analizar')
a = input()
a=int(a)
b=a+1
for i in range (1, a):
 sum= (a+1)*a/2
print('La suma desde 1 hasta', a, 'es = ', sum) 
print('\n')

lis1 = ['bananas','manzanas','uvas','kiwis','tomates','sandía', ['castañas', 'nueces','almendras','avellanas']]
lis2 = [1, 3.14159, 'castañas', 'nueces','almendras','avellanas']

#print(type(lis2[1:6]))

lis1.append(lis2)
lis1.extend(lis2)

print('Lista 1:','\n', lis1)
print('Lista 2:', '\n', lis2)
print('\n')

print('Tipos dentro de la lista 1: ')
for i in range (0,len(lis1)):
  print(type(lis1[i]))
print('\n')

print('Tipos dentro de la lista 2: ')
for i in range(0,len(lis2)):
  print(type(lis2[i]))
print('\n')

Introduzca el entero a analizar
5
La suma desde 1 hasta  5 es =  15.0


Lista 1:
 ['bananas', 'manzanas', 'uvas', 'kiwis', 'tomates', 'sandía', ['castañas', 'nueces', 'almendras', 'avellanas'], [1, 3.14159, 'castañas', 'nueces', 'almendras', 'avellanas'], 1, 3.14159, 'castañas', 'nueces', 'almendras', 'avellanas']
Lista 2:
 [1, 3.14159, 'castañas', 'nueces', 'almendras', 'avellanas']


Tipos dentro de la lista 1:
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'list'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>


Tipos dentro de la lista 2:
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>